
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="padding-left: 5px;"><strong><%= @user.name %></strong>同学，您好：</p>
    <p style="padding-left: 5px;">欢迎加入PureWeber2013 web开发课程。</p>
    <p style="padding-left;">  请点击以下链接完成注册，若无法点击，请手动复制网址完成注册。</p>
    <a href="<%=@url %>"><%= @url %></a>
    <p><a href="http://www.pureweber.com/" style="text-decoration: none;">PureWeber</a> 敬上</p>
  </body>
</html>
