-content_for :body do
  %nav.global-nav.affix-top
    %h2 PureWeber欢迎您!
  %section#about.wrap.about.role

    %aside.form
      %header
        %h2 注册失败, 请重新验证!

- content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides.css'
%header
