!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title PureWeber
  %meta(http-equiv="content-type" content="text/html; charset=gb2312")
  = stylesheet_link_tag 'main.css'
  /= javascript_include_tag 'load.js'
  = csrf_meta_tag

  %body
    %header.hero
      %figure
        =image_tag "/assets/pureweber.png"
        %h2 PureWeber 2013

    %nav.global-nav.affix-top
      %ul
        %li 
          %a(href="#about") 关于PureWeber
        %li
          %a(href="#members") 社团成员
        %li 
          %a(href="#work") 社团成果
        %li 
          %a(href="#recruit") 招兵买马
        %li
          %a(href="#" target="_blank" class="btn") 加入我们

    %section#about.wrap.about
      %header
        %h2 关于PureWeber 

      %p 程序设计与实践2 – Web开发 是一个公益性的培训课程，由哈尔滨工业大学ACM ICPC创新基地提供支持，旨在提高学生的动手编程能力、培养编程兴趣。该课程由孙大烈老师于2010年秋季学期发起，面向计算机学院低年级学生，讲授基于Linux, Apache, Mysql, PHP的Web开发技术。
    %section#members.wrap.members
      .container
        %header
          %h2 社团成员 
        %ul.members-list.clearfix
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/dzy.jpg")
            %h3 段志言
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/wc.jpg")
            %h3 邸文晨
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/tdl.jpg")
            %h3 田大龙
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/fjy.jpg")
            %h3 付建宇
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/lh.jpg")
            %h3 李海
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/cyf.jpg")
            %h3 陈云飞
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/zzt.jpg")
            %h3 张志桐
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/zx.jpg")
            %h3 张雄
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/hjw.jpg")
            %h3 黄靖文
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/zkj.jpg")
            %h3 朱柯军
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/xw.jpg")
            %h3 徐伟
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/fcw.jpg")
            %h3 范陈武
            %p 
              %a(href="#" target="_blank") github
          %li
            %figure
              %a(href="#")
                =image_tag("/assets/zzq.jpg")
            %h3 郑志勤
            %p 
              %a(href="#" target="_blank") github
    

    %section#work.wrap.work.clearfix
      %header
        %h2 团队成果

      %aside.middle
        %aside
          =image_tag ("/assets/acm.png")
        %section.intro
          %ul
            %li HIT ACM/ICPC Group
            %li 2011年6月
            %li <a href="http://acm.hit.edu.cn/" target="blank">HOJ</a>是一个网上程序设计题库，它包含2000多道饶有趣味的程序设计题，题目大部分来自ACM国际大学生程序设计竞赛，很多题目就反映工作和生活中的实际问题。用户可以针对某个题目编写程序并提交，让HOJ自动判定程序的对错，几秒之内即可知道对还是错 

      %aside.middle
        %aside
          =image_tag ("/assets/hit_helper.jpg")
        %section.intro
          %ul
            %li HIT成绩助手
            %li 2012年6月
            %li HIT成绩助手(微信号: hit_helper )是一个基于微信平台应用。它提供为哈工大的学生提供快捷方便地查询成绩、课程表、考试倒计时、饭卡对账单、图书搜索等服务。目前用户达一万两千多，覆盖了约哈工大75%的本科生。

  
    %section#recruit.wrap.recruit.clearfix
      %header
        %h2 招兵马买
      %aside.container
        %h2 是什么？
        %ul.r_content
          %li
            Web开发是一个公益性的培训课程，由哈尔滨工业大学ACM ICPC创新基地提供支持，旨在提高学生的动手编程能力、培养编程兴趣。该课程由孙大烈老师于2010年秋季学期发起，面向哈工大低年级学生，讲授基于Linux, Apache, Mysql, PHP等Web开发技术。
        %h2 为什么？
        %ul.r_content
          %li
            有同学说我们学的东西究竟有什么用？”，尽管天天都在使用电脑，但是却对使用计算机解决问题缺乏一个直观的了解，也不曾亲自动手编程去解决一个实际问题，因此总感觉程序世界离自己很遥远。
          %li
            一部分同学苦恼于自己只能编出在黑色的命令窗口中运行的“玩具程序”，不够炫酷有型，缺乏成就感，想学一些GUI编程，又感觉入门不容易，一不小心就把积极性给打没了。
          %li
            还有一些同学是人人网的深度用户，购买了各种VIP，从而可以享受日志信纸、主页皮肤，着实浪费了不少金钱。
        .clearfix
        %h2 怎么办？
        %ul.r_content
          %li
            课程以学生上机编程为主，课堂讲授也在机房进行，讲授完毕学生直接进行实践。负责讲授和上机指导的是已经毕业或正在读的高年级学生，他们除了项目经验较为丰富之外，还有一个共同点，那就是他们都热爱技术的魅力、相信技术的力量。
      
        %h2 心动了吗？
        %ul.r_content
          %li
            如果你想学到更多关于web开发的知识，何不现在就报名参加呢？  

    %footer.wrap.footer
      .container
        %p.copyright © COPYRIGHT PUREWEBER 2013, WEBSITE BY <a href="http://kgtong.me/">KgTong</a>
