-content_for :body do
  %section#about.wrap.about.role.clearfix
    .content
      .courses.courses-role
        .create_course
          %button(type="button" class="btn btn-success") 创建新课程
        .clearfix1
        .full
          .course
            .screenshot1#role-screenshot1
              .eidt-course-poster(style="margin-bottom:5px;")
                %p 课程封面(最佳宽高比为16：9)
                .poster-preview
                  =image_tag("/assets/hit_helper.jpg", :id => "poster")
                .edit-course-poster.btn.btn-info
                  %span#poster-upload-tip 更新课程封面
                  <input id="poster-fileupload" name="course[poster]" type="file">
            .course-main
              =form_tag(:class => "form-horizontal form-ad", :role =>"form") do
                .form-group
                  %label(for="inputEmail3" class="col-sm-2 control-label") Email
                  .col-sm-10
                    %input(type="email" class="form-control" id="inputEmail3" placeholder="Email")
                .form-group
                  %label(for="inputPassword3" class="col-sm-2 control-label") Password
                  .col-sm-10
                    %input(type="password" class="form-control" id="inputPassword3" placeholder="Password")

-content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides'
-content_for :template_js do
  :javascript
    $(document).ready(function() {
       jQuery(function($) {
           var _tip = $("#poster-upload-tip");
          $('#poster-fileupload').fileupload({
              dataType: 'script',
              url: '/update_poster/#{@course.id}',
              add: function(e, data){
                alert("haha");
                types = /(\.|\/)(gif|jpe?g|png)$/i;
                file = data.files[0];
                console.log(file.type);
                console.log(types);
                if (types.test(file.type) || types.test(file.name))
                {
                  data.submit();
                }
                else
                {
                  alert(file.name + " 不是图片，请重新选择！");
                }
              },
              start: function(e) {
                _tip.html('上传中&nbsp;&middot;&middot;&middot;');
              },
              done: function (e, data) {
                _tip.html("课程封面修改成功!");
              },
          });
        });
    });
