-content_for :body do
  %section#about.wrap.about.role.clearfix
    .content
      .courses.courses-role
        .create_course
          %button(type="button" class="btn btn-success") 创建新课程
        .clearfix1
        .full
          .course
            .screenshot1
              %a(href="#")
                =image_tag("/assets/hit_helper.jpg", :size =>"200x125")
              .course-info.clearfix1
                %h4 课程尚未公开
                %ul.course-actions
                  %li
                    %a(href="#") 编辑
                  %li
                    %a(href="#") 删除
                  %li
                    %a(href="#") 公开课程
            .main
              .info
                %span.number Course #0
                %span.published_at Jun 16, 2013
              %h2(style="text-align:left")
                %a(href="/episodes/417-foundation") Foundation
              .description ZURB's Foundation is a front-end for quickly building applications and prototypes. It is similar to Twitter Bootstrap but uses Sass instead of LESS. Here you will learn the basics of the grid system, navigation, tooltips and more.
            .clearfix1
          .course
            .screenshot1
              %a(href="#")
                =image_tag("/assets/acm.png", :size =>"200x125")
              .course-info.clearfix1
                %h4 课程尚未公开
                %ul.course-actions
                  %li
                    %a(href="#") 编辑
                  %li
                    %a(href="#") 删除
                  %li
                    %a(href="#") 公开课程
            .main
              .info
                %span.number Course #0
                %span.published_at Jun 16, 2013
              %h2(style="text-align:left")
                %a(href="/episodes/417-foundation") Foundation
              .description ZURB's Foundation is a front-end for quickly building applications and prototypes. It is similar to Twitter Bootstrap but uses Sass instead of LESS. Here you will learn the basics of the grid system, navigation, tooltips and more.
            .clearfix1
  
-content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides'
