-content_for :body do
  %section#about.wrap.about.role.wrap-role
    .content
      .courses.courses-role
        =render partial: 'course', :locals => { course: @course }
        .nav-section
          %aside.middle
            %aside
            %section.course-item #{@course.description} 
            #comments_form
          .clearfix1

-content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides'
-content_for :template_js do
  :javascript
    $(document).ready(function() {
      jQuery(function($) {
        $("#myTab a").click( function(){
          $(".active").removeClass("active");
        });
      });
    })
