.full
  .course
    .screenshot
      =image_tag("#{course.poster}", :size =>"200x125")
    .main
      %h2(style="text-align:left") #{course.id}号课程 Foundation
      .info
        %span.published_at #{course.created_at.strftime("%Y年%m月%d日")} - 
        %span.comments
          %a(href="/episodes/417-foundation?view=comments") 60 comments
      .description #{course.intro}
      .clearfix1
%ul.nav.nav-tabs.nav-justified#myTab(style="margin-bottom: 0px;")
  %li#course-item.active
    =link_to "课程详细", "?view=course", :remote => true
  %li#comments-item
    =link_to "你来我往", comments_path(@course.id), :remote => true
  %li#material-item
    =link_to "学习资料", download_path, :remote => true
  %li#assignment-item
    =link_to "练习与反馈", "?view=assignment", :remote => true
