-content_for :body do
  %section#about.wrap.about.role.clearfix
    .content
      .courses.courses-role
        .create_course
          = link_to "返回课程列表", new_course_path(current_user.name), :class => "btn btn-success"
        .clearfix1
        .full
          .course
            .screenshot1#role-screenshot1
              .eidt-course-poster(style="margin-bottom:5px;")
                %p 课程封面(最佳宽高比为16：9)
                .poster-preview
                  =image_tag("/assets/hit_helper.jpg", :id => "poster")
                .edit-course-poster.btn.btn-info
                  %span#poster-upload-tip 更新课程封面
                  <input id="poster-fileupload" name="course[poster]" type="file">
            .course-main
              .form-info
                =form_for(@course, :class => "form-horizontal form-ad", :role =>"form") do
                  .form-group
                    %label(for="inputTitle" class="col-sm-2 control-label") 课程名
                    .col-sm-10
                      %input(type="text" class="form-control" id="inputTitle" name="course[title]" placeholder="课程名")
                  .form-group
                    %label(for="inputIntro" class="col-sm-2 control-label") 课程简介
                    .col-sm-10
                      %textarea(class="form-control textareaIntro" id="textareaIntro" name="course[intro]" rows="5" placeholder="课程简介")
                  .form-group
                    %label(for="textareaDescription" class="col-sm-2 control-label the-third") 课程信息
                    .col-sm-10
                      %textarea(class="form-control" id="textareaDescription" name="course[description]" rows="15" placeholder="课程信息")
                  .clearfix1
                  .form-group
                    %label(for="inputSubmit" class="col-sm-2 control-label")
                    .col-sm-10
                      = submit_tag( "创建课程", class: "btn btn-success")
            
-content_for :bootstrap do
  = stylesheet_link_tag 'bootstrap_and_overrides'
